{% extends 'basic.html' %}

{% block title %}
You follow
{% endblock title %}

{% block content %}
	<div style="margin-left: 140px;margin-right: 0;">
	<h1 style="margin: 5px;padding: 0;width: 100%"><i class="fas fa-user-friends"></i> Following</h1>
	</div>
	<table class=" f_table table ">
		<tbody>
			{% for you_follow in obj %}
			<div class="follower_username">
			<tr>
				<td style="width:50%;"><center>{{you_follow}}</center></td>
			</div>
			<form action="{% url 'profiles:profile-view' %}" method="post">
			  {% csrf_token %}
			  <td style="width:50%;">
			  	<center>
			  <input type="hidden" name="profile_id" value={{you_follow}}>
			  <button type="submit" name="button">View Profile</button>
			</center>
			</td>
			</form>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}
